<div class="contenedor" [@fadeIn]>

  <div class="lobby">
    <video src="assets/landing/intro.mp4" alt="video" class="video" autoplay loop muted playsinline></video>
    <div class="title">
      <p>Andamios Atlas</p>
    </div>
  </div>

  <div class="links">
    <div class="caja" (click)="irA('andamios')">
      <img src="assets/Logo_Andamios-Atlas_square.png" alt="logo" class="logo" />
      <div class="marca">Andamios</div>
      <hr />
      <p>Manufacturas Metálicas</p>
    </div>

    <br />

    <div class="caja" (click)="irA('conten')">
      <img src="assets/Logo-Conten.png" alt="logo" class="logo" />
      <div class="marca">Contén</div>
      <hr />
      <p>Racks para manejo de Autopartes</p>
    </div>

  </div>
</div>
