/*Esta parte es del componente B*/

.banner {
  width: 100%;
}

.banner img {
  width: 100%;
  height: auto;
}
.main-description {
  padding: 20px 0px;
  text-align: justify;
  font-size: 25px;
  font-weight: 600;
}

.carousel-item-type-B {
  height: 400px;
}

.seccion-titulo-type-B {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
  position: relative;
}
#background-title-type-B {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: auto;
}
.seccion-titulo-type-B h2 {
  font-size: 40px;
  font-weight: 600;
  color: white;
  margin: 0px;
}

.carousel-item-type-B img {
  width: 100%;
  height: 100%;
}

.contenido-type-B {
  padding: 20px;
}

.img-carrousel-type-B {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.title-type-B {
  margin-bottom: 20px;
}

.carousel-section-type-B {
  padding: 0px 40px;
}

.description-type-B {
  text-align: justify;
  padding: 0px 20px;
}

/* CAROUSEL */

.carousel-container-type-B {
  width: 80%;
  height: auto;
  position: relative;
}

.element-type-B {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
}
/* 
.element-type-B:hover {
  cursor: pointer;
  scale: 1.1;
} */

.prev-type-B,
.next-type-B {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}

.prev-type-B button,
.next-type-B button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.prev-type-B {
  right: 90%;
}

.next-type-B {
  left: 90%;
}

mat-icon {
  font-size: 50px;
  height: auto;
  width: auto;
}

.img-container-type-B {
  display: flex;
  align-items: center; /* Centra la imagen verticalmente */
  justify-content: center; /* Centra la imagen horizontalmente */
  overflow: hidden; /* Oculta cualquier contenido extra */
  border-radius: 15px;
}

.img-type-B {
  width: 100%;
  /* La imagen no excederá el ancho del contenedor */
  height: 100%;
  /* La imagen no excederá la altura del contenedor */
  object-fit: cover;
  /* Asegura que la imagen se ajuste al contenedor */
}

.element-type-B .img-container-type-B {
  transition: transform 0.5s ease-in-out;
}

.element-type-B:hover .img-container-type-B {
  transform: scale(1.1);
}

.content-type-B {
  width: 80%;
  text-align: center;
  font-size: 20px;
  margin-top: 10px; /* Espaciado entre la imagen y el texto */
  border-radius: 10px;
  padding: 10px 0px;
  background-color: #424242;
  color: white;
}
.content-type-B p{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-weight: 600;

}

/* */

/* SUBSECCION */

.exit-button-type-B {
  background-color: var(--color-secundario);
  color: #fff;
  padding: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 10px;
}

.panel-type-B {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.title-type-B {
  width: 100%;
  text-align: center;
  padding: 20px 0px;
  color: white;
  background-color: var(--color-secundario);
}

.description-type-B {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media only screen and (min-width: 2560px) and (max-width: 3439px) {}

@media only screen and (min-width: 768px) and (max-width: 1439px) {

  .contenedor-type-B {
    padding-top: 50px;
  }

  .prev-type-B,
  .next-type-B {
    top: 40%;
  }

}

@media only screen and (max-width: 767px) {
  .main-description {
    font-size: 20px;
  }

  #background-title-type-B {
    height: 100%;
  }
  .main-description-type-B {
    font-size: 20px;
  }
  .seccion-titulo-type-B h2 {
    font-size: 30px;
  }
  .prev-type-B,
  .next-type-B {
    top: 40%;
  }

  .prev-type-B {
    right: 80%;
  }

  .next-type-B {
    left: 80%;
  }

  .panel-type-B {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .carousel-item-type-B {
    height: 300px;
  }

  .description-type-B {
    font-size: 15px;
  }

  .contenedor-type-B {
    padding-top: 50px;
  }
}

/*¨Esta parte es del componente A*/
.contenedor-type-A{
  width: 100%;
}

.banner-type-A img {
  width: 100%;
  height: auto;
}

.item-type-A {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px;
}

.img-carrousel-type-A {
  width: 50vw;
  height: auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.carousel-container-type-A {
  width: 80%;
  padding: 10px;
}

.img-container-type-A img {
  width: 100%;
  height: 400px;
}

.description-box-type-A {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description-box-type-A p {
  text-align: justify;
  padding: 10px;
}

.prev-type-A button,
.next-type-A button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

mat-icon {
  width: 50px;
  height: 50px;
  font-size: 50px;
}

@media only screen and (min-width: 2560px) and (max-width: 3439px) {
  .img-container-type-A img {
    width: 100%;
    height: 600px;
  }

  .description-box-type-A p {
    font-size: 25px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1299px) {
  .img-container-type-A img {
    width: 100%;
    height: 300px;
  }

  .description-box-type-A p {
    font-size: 15px;
  }
}

@media only screen and (max-width: 767px) {

  .contenedor-type-A {
    width: 100%;
    padding-top: 50px;
  }

  .item-type-A {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
  }

  .img-carrousel-type-A {
    width: 100vw;
    height: 250px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }

  .carousel-container-type-A {
    width: 80%;
    padding: 10px;
  }

  .img-container-type-A img {
    width: 100%;
    height: 250px;
  }

  .description-box-type-A p {
    text-align: justify;
    padding: 10px;
  }

  mat-icon {
    width: 30px;
    height: 30px;
    font-size: 30px;
  }


}



/*Esta parte es del componente C*/


.contenido-type-C{
  padding: 20px 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

}

.item-type-C {
  width: 550px;
  margin: 0px auto;
}

.img-carrousel-type-C{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.prev-type-C , .next-type-C{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}

.prev-type-C button, .next-type-C button{
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.prev-type-C {
  right: 90%;
}

.next-type-C {
  left: 90%;
}

.carousel-container-type-C{
  width: 80%;
  height: auto;
  position: relative;
}

.element-type-C{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
}

mat-icon{
  font-size: 50px;
  height: auto;
  width: auto;
}

.img-container-type-C {
  display: flex;
  align-items: center; /* Centra la imagen verticalmente */
  justify-content: center; /* Centra la imagen horizontalmente */
  overflow: hidden; /* Oculta cualquier contenido extra */
  border-radius: 15px;
}

.element-type-C .img-container-type-C {
  transition: transform 0.5s ease-in-out;
}

.element-type-C:hover .img-container-type-C {
  transform: scale(1.1);
}

.img-type-C {
  width: 100%; /* La imagen no excederá el ancho del contenedor */
  height: 100%; /* La imagen no excederá la altura del contenedor */
  object-fit: cover; /* Asegura que la imagen se ajuste al contenedor */
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {

  .contenedor-type-C {
    padding-top: 50px;
  }

  .contenido-type-C{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px 10px;
  }

  .item-type-C{
    width: 100%;
    margin-bottom: 20px;
  }

  .carousel-container-type-C{
    width: 600px;
  }

  .img-container-type-C {
    object-fit:contain !important;
    height: 600px !important;
  }
}

@media only screen and (max-width: 767px) {

  .contenedor-type-C {
    padding-top: 50px;
  }

  .contenido-type-C{
    display: block;
    padding: 20px 10px;
  }

  .prev-type-C {
    display: none;
  }

  .next-type-C {
    display: none;
  }

  .item-type-C{
    width: 100%;
    margin-bottom: 20px;
  }

  .carousel-container-type-C{
    width: 100%;
  }

  .img-container-type-C {
    object-fit:contain !important;
    height: 400px !important;
  }


}

/* Esta parte es del componente D*/

.banner-type-D {
  width: 100%;
}

.banner-type-D img {
  width: 100%;
  height: auto;
}

.contenido-type-D {
  padding: 20px 50px;
  position: relative;
}

/* CAROUSEL */

.carousel-container-type-D {
  width: 100%;
  height: auto;
  position: relative;
}

.element-type-D {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  transition: scale 0.5s ease-in-out;
}

.prev-type-D,
.next-type-D {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}

.prev-type-D {
  left: 50px;
}

#prev-type-D {
  color: white;
}

.next-type-D {
  right: 50px;
}

.prev-type-D button,
.next-type-D button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

mat-icon {
  font-size: 50px;
  height: auto;
  width: auto;
}

.img-container-type-D {
  display: flex;
  align-items: center;
  /* Centra la imagen verticalmente */
  justify-content: center;
  /* Centra la imagen horizontalmente */
  overflow: hidden;
  /* Oculta cualquier contenido extra */
  padding: 0px 10px;
}

.description-container-type-D {
  display: flex;
  align-items: center;
  /* Centra la imagen verticalmente */
  justify-content: flex-end;
  /* Centra la imagen horizontalmente */
  height: 100%;
  padding-left: 10%;
  overflow: hidden;
  /* Oculta cualquier contenido extra */
  background-color: var(--color-secundario);
  color: white;
}

.description-container-type-D p {
  font-size: 20px;
  font-weight: bold;
  text-align: justify;
  padding: 0px 25px;
}

.img-type-D {
  width: 100%;
  /* La imagen no excederá el ancho del contenedor */
  height: 100%;
  /* La imagen no excederá la altura del contenedor */
  object-fit: contain;
  /* Asegura que la imagen se ajuste al contenedor */
}

.content-type-D {
  width: 80%;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  /* Espaciado entre la imagen y el texto */
}

/* */

@media only screen and (min-width: 2560px) and (max-width: 3439px) {}

@media only screen and (min-width: 768px) and (max-width: 1299px) {
  .contenido-type-D {
    padding: 20px 10px;
  }

  .element-type-D {
    grid-template-columns: 1fr;
  }

  .description-container-type-D {
    justify-content: center;
    height: 300px;
    padding: 20px 5px;
  }

  .description-container-type-D p {
    font-size: 20px;
  }

  #prev-type-D {
    color: black;
  }

  .prev-type-D {
    display: none;
    left: 20px;
  }

  .next-type-D {
    display: none;
    right: 20px;
  }
}

@media only screen and (max-width: 767px) {

  .contenido-type-D {
    padding: 20px 10px;
  }

  .element-type-D {
    grid-template-columns: 1fr;
  }

  .description-container-type-D {
    justify-content: center;
    height: 300px;
    padding: 20px 5px;
  }

  .description-container-type-D p {
    font-size: 15px;
  }

  #prev-type-D {
    color: black;
  }

  .prev-type-D {
    display: none;
    left: 20px;
  }

  .next-type-D {
    display: none;
    right: 20px;
  }
}