<nav>

  <div class="responsive">
    <img src="assets/icons/isotipo-andamios-atlas.png" alt="" id="logo" (click)="goBackToMain()">
    <mat-icon (click)="toggleIcon()">{{icon}}</mat-icon>
  </div>

  <div class="nav" id="nav">
    <img src="assets/Logo_Andamios-Atlas.png" alt="" class="item-categoria" id="logo" (click)="goBackToMain()">

    <div class="item-categoria">
      <a href="/andamios" routerLink="/andamios" routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">Inicio</a>
    </div>

    @for (categoria of navbar; track categoria) {
    <div class="item-categoria">
      <a href="/andamios/categoria/{{categoria.url}}" routerLink="/andamios/categoria/{{categoria.url}}"
        routerLinkActive="active">{{
        categoria.titulo }}</a>
      @if(categoria.tipo === 'A'){
      <div class="secciones">
        @for (seccion of categoria.secciones; track seccion) {
        <div class="item-seccion">
          @if(seccion.isTitle){
          <a>{{seccion.titulo}}</a>
          } @else {
          <a href="/andamios/contenido/seccion/{{seccion.url}}" routerLink="/andamios/contenido/seccion/{{seccion.url}}"
            routerLinkActive="active">{{seccion.titulo}}</a>
          }
          <div class="subsecciones">
            @for (subseccion of seccion.subsecciones; track subseccion) {
            <a class="item-subseccion" href="/andamios/contenido/subseccion/{{subseccion.url}}"
              routerLinkActive="active">{{subseccion.nombre}}</a>
            }
          </div>
        </div>
        }
      </div>
      }
    </div>
    }

    <div class="item-categoria">
      <a href="/andamios/sucursales" routerLink="/andamios/sucursales" routerLinkActive="active">Sucursales</a>
    </div>
  </div>

  <!--RESPONSIVE-->
  <div class="responsive-menu" id="responsive-menu">
    <div class="item-categoria">
      <a href="/andamios" routerLink="/andamios" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
        (click)="toggleIcon()">Inicio</a>
    </div>

    @for (categoria of navbar; track categoria) {
    <div class="item-categoria">
      <a href="/andamios/categoria/{{categoria.url}}" routerLink="/andamios/categoria/{{categoria.url}}"
        routerLinkActive="active" (click)="toggleIcon()">{{
        categoria.titulo }}</a>
    </div>
    }

    <div class="item-categoria">
      <a href="/andamios/sucursales" (click)="toggleIcon()">Sucursales</a>
    </div>
  </div>

</nav>
