<div class="contenedor" [@fadeIn]>

  <div class="banner">
    <img src="assets/imagenes/certificaciones.png" alt="">
  </div>

  <div class="contenido">
    <div class="prev" >
      <button (click)="prevView()">
        <mat-icon id="prev">keyboard_double_arrow_left</mat-icon>
      </button>
    </div>
    <div class="carousel-container">
      <!-- CAROUSEL ELEMENT -->
      <swiper-container autoplay="false" [loop]="loop" speed="1000" [slidesPerView]="slidesPer"
        [ngStyle]="{ width: width }" id="carousel">
        <!-- SLIDES -->
        @for(slide of Secciones; track slide){
        <swiper-slide>
          <div class="element" [ngStyle]="{ height: height }">
            <div class="description-container">
              <div [innerHTML]="slide.description"></div>
            </div>
            <!--TODO Implement (click)=download(slide.doc)-->
            <div class="img-container" [ngStyle]="{ height: imgHeight, width: imgWidth }">
              <img [src]="slide.img" alt="slide.img" class="img">
            </div>
          </div>
        </swiper-slide>
        }
        <!-- END SLIDES -->
      </swiper-container>
      <!-- END CAROUSEL ELEMENT -->
    </div>
    <div class="next" >
      <button (click)="nextView()">
        <mat-icon id="next">keyboard_double_arrow_right</mat-icon>
      </button>
    </div>
  </div>
</div>
