@if(!isMobile && !isTablet){
<nav>
  <section class="network">
    <div class="social">
      <a href="https://api.whatsapp.com/send/?phone=5215572400383&text&type=phone_number&app_absent=0"><img
          src="assets/icons/wa.png" alt=""></a>
      <a href="https://www.facebook.com/Andamios.Atlas.Encofrados/"><img src="assets/icons/fb.png" alt=""></a>
      <a href="https://twitter.com/Andamios_Atlas?lang=es"><img src="assets/icons/x.png" alt=""></a>
      <a href="https://www.instagram.com/andamiosatlas/?hl=es-la"><img src="assets/icons/ig.png" alt=""></a>
    </div>
    <div class="contact">
      <p>
        <mat-icon>phone</mat-icon>
        <span>800 Andamio (2632646)</span>
      </p>
      <p>
        <mat-icon>email</mat-icon>
        <span><a
            href="mailto:servicioaclientes@andamiosatlas.com?subject=Servicio%20al%20cliente">servicioclientes&#64;andamiosatlas.com</a></span>
      </p>
    </div>
  </section>
  <section class="menu">
    <div class="logos">
      <a href="/andamios" id="logo"><img src="assets/Logo_Andamios-Atlas.png" alt="Andamios Atlas"></a>
      <a href="/" id="logo"><img src="assets/Logo-Conten.png" alt="Encofrados"></a>
    </div>
    @for (category of navbar; track category; let idx = $index) {
    @if (category.is_active) {
    @if(idx == 5){
    <div class="opc">
    </div>

    }
    <div class="opc">
      @if (category.is_default){
      <a [routerLink]="category.url" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
        {{ category.title }}
      </a>
      } @else {
      <a [routerLink]="'/conten/general/' + category.url" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        {{ category.title }}
      </a>

      }
      @if (category.has_sections && category.tipo =='B') {
      <div class="subopc">
        @for (subcategory of category.secciones; track subcategory) {
        @if(category.is_default){

        <a [routerLink]="'/conten/manufactura/seccion/' + subcategory.url">
          {{ subcategory.title }}
        </a>
        } @else{
        <a [routerLink]="'/conten/general/seccion/' + subcategory.url">
          {{ subcategory.title }}
        </a>

        }
        }
      </div>
      }


    </div>

    }
    }

  </section>
</nav>
} @else {
<nav class="navbar navbar-expand-lg fixed-top bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
      aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-brand" href="#">
      <a href="/" id="logo"><img src="assets/icons/isotipo-andamios-atlas.png" alt="Andamios Atlas"></a>
    </div>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        @for(category of navbar; track category) {
          @if(category.is_active){
            @if (category.is_default){
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" [routerLink]="category.url" routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}">{{category.title}}</a>
            </li>
            } @else {
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" [routerLink]="'/conten/general/' + category.url"
                routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">{{category.title}}</a>
            </li>
            }
          }
        }
        <li class="nav-item socials">
          <div class="social">
            <a href="https://api.whatsapp.com/send/?phone=5215572400383&text&type=phone_number&app_absent=0"><img
                src="assets/icons/wa.png" alt=""></a>
            <a href="https://www.facebook.com/Andamios.Atlas.Encofrados/"><img src="assets/icons/fb.png" alt=""></a>
            <a href="https://twitter.com/Andamios_Atlas?lang=es"><img src="assets/icons/x.png" alt=""></a>
            <a href="https://www.instagram.com/andamiosatlas/?hl=es-la"><img src="assets/icons/ig.png" alt=""></a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
}
