<div class="contenedor" [@fadeIn]>
  <div class="banner">
    <img [src]="categoria?.img" alt="">
  </div>

  <div class="contenido">
    @for (design of secciones; track design) {
    <div class="item">
      <div class="img-carrousel">
        <div class="prev">
          <button (click)="prevView(design.id)">
            <mat-icon>keyboard_double_arrow_left</mat-icon>
          </button>
        </div>
        <div class="carousel-container">
          <!-- CAROUSEL ELEMENT -->
          <swiper-container autoplay="true" [loop]="loop" speed="1000" [slidesPerView]="slidesPer"
            id="carousel-{{design.id}}">
            <!-- SLIDES -->
            @for(slide of design.imgs; track slide){
            <swiper-slide>
              <div class="img-container">
                <img [src]="slide.data" alt="slide.img" class="img">
              </div>
            </swiper-slide>
            }
            <!-- END SLIDES -->
          </swiper-container>
          <!-- END CAROUSEL ELEMENT -->
        </div>
        <div class="next">
          <button (click)="nextView(design.id)">
            <mat-icon>keyboard_double_arrow_right</mat-icon>
          </button>
        </div>
      </div>
      <div class="description-box">
        <div [innerHTML]="design.description"></div>
      </div>
    </div>
    }
  </div>

</div>

@if (wip) {
  <app-loading-conten></app-loading-conten>
}
