<style>
  .bc-rojo {
    background-color: #cf142b;
  }

  .txt-rojo {
    color: #cf142b;
    display: inline
  }

  .txt-blanco {
    color: #FFFFFF;
    !important
  }

  .txt-negro {
    color: #000000;
  }
</style>
<div class="contenedor" [@fadeIn]>
  <img src="assets/landing/andamios.jpg" class="video">
  <div class="grid">
    <div class="item">
      <img src="assets/landing/nosotros.jpg" alt="" class="pres" />
    </div>
    <div class="item" id="txt-big">
      <p class="title txt-negro">¡Más de <span class="txt-rojo">50 años </span>sosteniendo a <span
          class="txt-rojo">México</span> !</p>
      <p class="description">
        Iniciamos operaciones en 1965 y somos una empresa orgullosamente
        mexicana, nos hemos consolidado como el líder en renta y venta de
        andamios en el mercado, siendo entonces una empresa preocupada por la
        seguridad en el ámbito de la construcción y trabajando día a día con los
        más altos estándares de calidad en nuestros sistemas de andamiaje.
      </p>
    </div>
    <div class="item bc-rojo" id="txt-big">
      <p class="title txt-blanco">Nuestra capacidad</p>
      <div class="description txt-blanco">
        <li>
          Contamos con más de 26,000 toneladas de equipo para construcción,
          divididas en 7 líneas de productos con los más altos estándares
          técnicos, de seguridad y calidad para el mercado.
        </li>
        <li>
          Nuestra capacidad instalada nos permite atender cualquier proyecto de
          construcción desde las 16 sucursales situadas alrededor de la
          república.
        </li>
        <li>
          Mantenemos al mes 10,000 toneladas promedio de equipo operando en
          obra, con aproximadamente 100 operaciones diarias a nivel nacional.
        </li>
        <li>
          Realizamos hasta 60 visitas técnicas de manera mensual para garantizar
          la correcta ejecución de nuestros sistemas.
        </li>
        <li>
          Nuestra área de ingeniería realiza más de 100 diseños mensuales que
          garantizan soluciones óptimas en la ejecución.
        </li>
        <li>
          Investigan, desarrollan y diseñan de acuerdo a las necesidades de cada
          proyecto.
        </li>
        <li>
          Nuestro comité de nuevos productos trabaja constantemente para ofrecer
          soluciones innovadoras al sector de la construcción.
        </li>
      </div>
    </div>
    <div class="item bc-rojo">
      <img src="assets/landing/capacity.png" alt="" class="pres" />
    </div>
  </div>

  <br />

  <br />

  <div class="grid" id="responsive-adc">
    <div class="item ajuste" id="txt">
      <img src="assets/mision.svg" alt="" class="icon" />
      <div class="icon-title">Misión</div>
      <div class="icon-descrption">
        Fabricar y comercializar manufacturas metálicas, ofreciendo un servicio
        integral y confiable cumpliendo requerimientos y expectativas de
        nuestros clientes en beneficio de: empleados, accionistas, clientes,
        proveedores y sociedad en General.
      </div>
    </div>
    <div class="item ajuste" id="txt">
      <img src="assets/vision.svg" alt="" class="icon" />
      <div class="icon-title">Visión</div>
      <div class="icon-descrption">
        Ser una empresa de clase mundial, manteniendo el liderazgo nacional y
        con presencia internacional en soluciones seguras e innovadoras con
        excelencia y servicio.
      </div>
    </div>
    <div class="item ajuste" id="txt">
      <img src="assets/quality.svg" alt="" class="icon" />
      <div class="icon-title">Política de Calidad</div>
      <div class="icon-descrption">
        Andamios Atlas S.A. de C.V. se compromete a proporcionar productos y
        servicios que cumplan con la calidad y requerimientos de sus clientes,
        estableciendo una operación segura con una cultura de prevención,
        haciendo uso adecuado de los recursos naturales y cuidando el medio
        ambiente, trabajando en acciones para la mejora continua, cumpliendo con
        las regulaciones y requisitos aplicables.
      </div>
    </div>
    <div class="item ajuste" id="txt">
      <img src="assets/valores.svg" alt="" class="icon" />
      <div class="icon-title">Valores</div>
      <div class="icon-descrption">
        <span>
          <div class="lista">
            <li>Productividad</li>
            <li>Servicio</li>
            <li>Integridad</li>
          </div>
          <div class="lista">
            <li>Trabajo Colaborativo</li>
            <li>Calidad</li>
            <li>Creatividad</li>
          </div>
        </span>
      </div>
    </div>

    <br />
  </div>
</div>
