<div class="contenedor" @fadeIn>
  <div class="title-container">
    <h1 class="title title-decoration">{{seccion?.nombre}}</h1>
  </div>
  <section class="contenido">
    <div class="img-principal">
      @if(seccion?.imagen_inicio){
      <img [src]="seccion?.imagen_inicio" alt="">
      } @else {
      <img [src]="defaultImage" alt="">
      }
    </div>
    <div class="description-container" [innerHTML]="seccion?.descripcion"></div>
  </section>

  @if(seccion?.images){
  <section class="grid">
    @for (image of seccion.images; track image) {
    <img [src]="image.file" alt="">
    }
  </section>
  }

  <section class="opciones">
    @if(seccion?.btn_contacto){
    <button class="main-button"> Solicitar cotizacion </button>
    }
    @if(seccion?.btn_pdf){
    <button class="main-button" (click)="downloadPdf(seccion.pdf)"> Descargar ficha tecnica </button>
    }
  </section>
</div>

@if(wip){
<app-spinner></app-spinner>
}
