<div class="contenedor" [@fadeIn]>
  <div class="banner">
    <img src="assets/imagenes/manufactura/ManufacturaBanner.png" alt="" class="banner-img">
  </div>
  @if(isSubSection){
  <div class="subseccion">
    <button type="button" class="exit-button" (click)="goTo('')"> <mat-icon>keyboard_return</mat-icon> </button>
    <div class="contenido">
      <div class="seccion-titulo">
        <img id="background-title" src="assets/background-section.png" alt="">
        <h2>{{subseccionMain.name}}</h2>
      </div>
      <div class="panel">
        <div class="carousel-section">
          <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              @for (slide of subseccionMain.imgs; track slide ; let isFirst = $first) {
              <div class="carousel-item" [class.active]="isFirst">
                <img [src]="slide.img" class="d-block w-100" alt="...">
              </div>
              }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="description">
          <p [innerHTML]="safeDescription"></p>
        </div>
      </div>
    </div>
  </div>
  } @else if (isSection){
  <div class="seccion">
    <div class="seccion-titulo">
      <img id="background-title" src="assets/background-section.png" alt="">
      <h2>{{seccionMain.name}}</h2>
    </div>
    <div class="img-carrousel">
      <div class="prev">
        <button (click)="prevView(seccionMain.id)">
          <mat-icon>keyboard_double_arrow_left</mat-icon>
        </button>
      </div>
      <div class="carousel-container">
        <!-- CAROUSEL ELEMENT -->
        <swiper-container autoplay="true" [loop]="loop" speed="1000" [slidesPerView]="slidesPer"
          [ngStyle]="{ width: width }" id="carousel-{{seccion.id}}">
          <!-- SLIDES -->
          @for(slide of seccionMain.subSecciones; track slide){
          <swiper-slide>
            <div class="element" [ngStyle]="{ height: height }" (click)="goTo(slide.name)">
              <div class="img-container" [ngStyle]="{ height: imgHeight, width: imgWidth }">
                <img [src]="slide.img" alt="slide.img" class="img">
              </div>
              <div class="content">
                <p>{{slide.name}}</p>
              </div>
            </div>
          </swiper-slide>
          }
          <!-- END SLIDES -->
        </swiper-container>
        <!-- END CAROUSEL ELEMENT -->
      </div>
      <div class="next">
        <button (click)="nextView(seccionMain.id)">
          <mat-icon>keyboard_double_arrow_right</mat-icon>
        </button>
      </div>
    </div>
  </div>
  }
  @else {
  <div class="contenido">

    <section class="description">
      <div class="main-description" [innerHTML]="categoria.descripcion"></div>
      <div class="carousel-container">
        <!-- CAROUSEL ELEMENT -->
        <swiper-container autoplay="true" [loop]="loop" speed="1000" [slidesPerView]="slidesPer"
          [ngStyle]="{ width: width }" id="carousel-{{seccion.id}}">
          <!-- SLIDES -->
          @for(slide of categoria.contenido; track slide){
          <swiper-slide class="slide-item">
            <div class="element" [ngStyle]="{ height: height }">
              <div class="img-container" [ngStyle]="{ height: imgHeight, width: imgWidth }">
                <img [src]="slide.img" alt="slide.img" class="img">
              </div>
              <div class="content">
                <p>{{slide.name}}</p>
              </div>
            </div>
          </swiper-slide>
          }
          <!-- END SLIDES -->
        </swiper-container>
        <!-- END CAROUSEL ELEMENT -->
      </div>
    </section>

    @for(seccion of secciones; track seccion){
    <div class="seccion">
      <div class="seccion-titulo">
        <img id="background-title" src="assets/background-section.png" alt="">
        <h2>{{seccion.name}}</h2>
      </div>
      <div class="img-carrousel">
        <div class="prev">
          <button (click)="prevView(seccion.id)">
            <mat-icon>keyboard_double_arrow_left</mat-icon>
          </button>
        </div>
        <div class="carousel-container">
          <!-- CAROUSEL ELEMENT -->
          <swiper-container autoplay="true" [loop]="loop" speed="1000" [slidesPerView]="slidesPer"
            [ngStyle]="{ width: width }" id="carousel-{{seccion.id}}">
            <!-- SLIDES -->
            @for(slide of seccion.subSecciones; track slide){
            <swiper-slide class="slide-item">
              <div class="element" [ngStyle]="{ height: height }" (click)="goTo(slide.name)">
                <div class="img-container" [ngStyle]="{ height: imgHeight, width: imgWidth }">
                  <img [src]="slide.img" alt="slide.img" class="img">
                </div>
                <div class="content">
                  <p>{{slide.name}}</p>
                </div>
              </div>
            </swiper-slide>
            }
            <!-- END SLIDES -->
          </swiper-container>
          <!-- END CAROUSEL ELEMENT -->
        </div>
        <div class="next">
          <button (click)="nextView(seccion.id)">
            <mat-icon>keyboard_double_arrow_right</mat-icon>
          </button>
        </div>
      </div>

    </div>
    }
  </div>
  }
</div>
