<footer>

  <div class="secciones">
    <section class="caja">
      <img src="assets/landing/family-atlas.jpg" alt="" class="team" (click)="goToForm()">
      <a title="unete a andamios atlas" href="/unete-al-equipo" class="team-txt">¡Únete a nuestro equipo!</a>
    </section>

    <section class="caja">
      <div class="social-txt">¡Siguenos!</div>
      <span>
        <div class="networks">
            <li> <mat-icon>location_on</mat-icon><a href="https://maps.app.goo.gl/Ki9M9WcMVt5QR1Qj8">Ubicacion</a></li>
            <li> <mat-icon>mail</mat-icon><a title="correo-atencion"
                href="mailto:servicioaclientes@andamiosatlas.com?subject=Servicio%20al%20cliente">Servicio al
                cliente</a></li>
            <li> <mat-icon>call</mat-icon><a>800 Andamio (2632646)</a></li>
            <li> <img src="assets/fb.svg" alt="i" class="icon"><a title="facebook andamios"
                href="https://www.facebook.com/Andamios.Atlas.Encofrados/">Facebook</a></li>
        </div>
        <div class="networks">
            <li><img src="assets/x.svg" alt="i" class="icon"> <a title="twitter andamios"
                href="https://twitter.com/Andamios_Atlas?lang=es">Twitter</a></li>
            <li><img src="assets/ig.svg" alt="i" class="icon"> <a title="instagram andamios"
                href="https://www.instagram.com/andamiosatlas/?hl=es-la">Instagram</a></li>
            <li><img src="assets/wp.svg" alt="" class="icon"><a title="whatsapp andamios"
                href="https://api.whatsapp.com/send/?phone=5215572400383&text&type=phone_number&app_absent=0">Whatsapp</a>
            </li>
            <li><mat-icon>priority_high</mat-icon> <a title="aviso-privacidad-atlas" href="/politicas-privacidad">Aviso de privacidad</a></li>
            <li><mat-icon>priority_high</mat-icon> <a title="avido-anticorrupcion-atlas" href="/aviso-anticorrupcion">Aviso anticorrupcion</a></li>
        </div>
      </span>
    </section>
  </div>

  <p style="margin: 0;">ANDAMIOS ATLAS S.A. DE C.V. 2024</p>

</footer>

