/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --color-primario: #cf142b;
  --color-secundario: #1a52a9;
  --color-secundario-mid: #1a51a976;
  --color-primario-minimum: #c35461;
}

*{
  font-family: 'Inter', sans-serif !important;
}

.material-icons{
  font-family: 'Material Icons' !important;
}

/* Añadir estilos específicos para navegadores con prefijos */
/* Chrome, Safari, Edge, Opera */
*::-webkit-scrollbar ,*::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento */
}

/* Firefox */
* {
  scrollbar-width: none ; /* Oculta la barra de desplazamiento */
}

html, body { height: fit-content; }
body {
  margin: 0;
  padding: 0;
  cursor: default;
  overflow-x: hidden;
 }

.title-container{
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 20px 0px 20px 0px;
}

.title-decoration{
  border-bottom: 5px solid var(--color-primario);
  padding-bottom: 15px;
}

/* Estilos para botones andamios, grandes */
.main-button{
  width: 300px;
  background-color: none;
  padding: 15px 0px;
  border-radius: 15px;
  background-color: transparent;
  color: var(--color-primario);
  outline: none;
  border-color: var(--color-primario);
  font-size: 20px;
 }


.main-button:hover{
  background-color: var(--color-primario);
  color: white;
}
