<div class="contenedor" [@fadeIn]>
  <h1 class="title">Clientes</h1>

  <section class="disclaimer">
    Estimado Cliente ponemos a su disposición nuestro aviso de privacidad de datos en la página www.andamiosatlas.com y
    asimismo acepta que la carga, captura y registro de datos que se solicitan en este apartado es con el consentimiento
    y autorización expresa de su parte, así mismo se hace sabedor de nuestro Aviso de Privacidad Clientes.
  </section>

  <h1 class="title" id="seccion"> ALTA E INTEGRACIÓN DE EXPEDIENTES</h1>

  <div class="expedientes">
    <section class="botones" >
      <h1 class="title" id="seccion"> DIVISIÓN ATLAS</h1>
      <div class="conjunto">
        <a href="https://www.e-expedientes.com/Portal/Expedientes/Create?HeaderId=4D7A41774D6A42664D7A41774D5456664E5441344E54633D"
          class="ancho-min btn btn-outline-danger">Persona Física</a>
        <a href="https://www.e-expedientes.com/Portal/Expedientes/Create?HeaderId=4D7A41774D6A42664D7A41774D5456664E5441344E54673D"
          class="ancho-min btn btn-outline-danger">Persona Moral</a>
        <a href="https://www.e-expedientes.com/Portal/Expedientes/Create?HeaderId=4D7A41774D6A42664D7A41774D5456664E5441344E546B3D"
          class="ancho-min btn btn-outline-danger">Extranjero</a>
      </div>
    </section>

    <section class="botones">
      <h1 class="title" id="seccion">DIVISIÓN CONTEN</h1>
      <div class="conjunto">
        <a href="https://www.e-expedientes.com/Portal/Expedientes/Create?HeaderId=4D7A41774D6A46664D7A41774D5456664E5441344E6A453D"
          class="ancho-min btn btn-outline-danger">Persona Física</a>
        <a href="https://www.e-expedientes.com/Portal/Expedientes/Create?HeaderId=4D7A41774D6A46664D7A41774D5456664E5441344E6A413D"
          class="ancho-min btn btn-outline-danger">Persona Moral</a>
        <a href="https://www.e-expedientes.com/Portal/Expedientes/Create?HeaderId=4D7A41774D6A46664D7A41774D5456664E5441344E6A493D"
          class="ancho-min btn btn-outline-danger">Extranjero</a>
      </div>
    </section>
  </div>

  <section class="help">
    <h1 class="title" id="seccion">GUÍA RÁPIDA PARA PORTAL</h1>
    <!--PDF-->
    <a class="btn btn-outline-danger" (click)="descargarArchivo()">Descargar pdf</a>
    <h4>¿Quedaste con dudas? Contactanos!</h4>
    <a href="/contactanos" class="btn btn-outline-danger" id="contacto">Contactanos</a>
  </section>
</div>
