.contenedor {
    width: 100%;
}

.banner {
    width: 100%;
}

.banner img {
    width: 100%;
    height: auto;
}

.contenido{
  padding: 20px 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;

}

.item {
  width: 550px;
  margin: 0px auto;
}

.img-carrousel{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.prev , .next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}

.prev button, .next button{
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.prev {
  right: 90%;
}

.next {
  left: 90%;
}

.carousel-container{
  width: 80%;
  height: auto;
  position: relative;
}

.element{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
}

mat-icon{
  font-size: 50px;
  height: auto;
  width: auto;
}

.img-container {
  display: flex;
  align-items: center; /* Centra la imagen verticalmente */
  justify-content: center; /* Centra la imagen horizontalmente */
  overflow: hidden; /* Oculta cualquier contenido extra */
  border-radius: 15px;
}

.element .img-container {
  transition: transform 0.5s ease-in-out;
}

.element:hover .img-container {
  transform: scale(1.1);
}

.img {
  width: 100%; /* La imagen no excederá el ancho del contenedor */
  height: 100%; /* La imagen no excederá la altura del contenedor */
  object-fit: cover; /* Asegura que la imagen se ajuste al contenedor */
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.title-container > img {
  width: 100%;
}

.title {
  text-align: center;
  position: absolute;
  margin: 0;
  color: white;
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {

  .contenedor {
    padding-top: 50px;
  }

  .contenido{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding: 20px 10px;
  }

  .item{
    width: 100%;
    margin-bottom: 20px;
  }

  .carousel-container{
    width: 600px;
  }

  .img-container {
    object-fit:contain !important;
    height: 600px !important;
  }
}

@media only screen and (max-width: 767px) {

  .contenedor {
    padding-top: 50px;
  }

  .contenido{
    display: block;
    padding: 20px 10px;
  }

  .prev {
    display: none;
  }

  .next {
    display: none;
  }

  .item{
    width: 100%;
    margin-bottom: 20px;
  }

  .carousel-container{
    width: 100%;
  }

  .img-container {
    object-fit:contain !important;
    height: 400px !important;
  }
}
